:root { 
  --alien-armpit: #88da1f;
  --black: #000000;
  --green-lizard: #9ef332;
  --gunsmoke: #848484;
  --white: #ffffff;
 
  --font-size-l: 25px;
  --font-size-m: 20px;
  --font-size-s: 18px;
  --font-size-xl2: 60px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.inter-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-black-60px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-white-25px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}
